@font-face {
  font-family: 'LibreBarcode128';
  font-style: normal;
  font-weight: 400;
  src: url('LibreBarcode128-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LibreBarcode128Text';
  font-style: normal;
  font-weight: 400;
  src: url('LibreBarcode128Text-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LibreBarcodeEAN13Text';
  font-style: normal;
  font-weight: 400;
  src: url('LibreBarcodeEAN13Text-Regular.ttf') format('truetype');
}
